:root {
	--text-color: black;
	--background-color: white;
}

html {
	font-size: 14px;
	background-color: var(--background-color);
	color: var(--text-color);
}

* { 
	padding: 0;
	margin: 0;
	font-weight: normal;
}

body {
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

h1 {
	font-size: 1.5em;
}

ol, ul {
	list-style: none;
}